
body
{
	background-color: black;
}

#timer
{
	margin-top: 50px;
	font-size: 275px;
	width: 100%;
	text-align: center;
	font-weight: bolder;
	color: white;
}

#country_list
{
    margin-top: 50px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    color: white;
}

body
{
    width: 100%;
    height: 100%;
}

#timer_container
{
    display: none;
}

#initial_container
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    text-align: center;
    line-height: 200px;
}

#initial_text 
{
    margin-bottom: 20px;
    color: #ffffff;
    font-family: Arial;
    font-size: 40px;
}

#initial_select
{
    line-height: normal;
    font-size: 17px;
}

select
{
    font-family: "Bree Serif", serif;
    color: #3e424c;
    width: 410px;
    font-size: 17px;
}

/* line 127, ../sass/style.scss */
.customSelect
{
    font-size: 17px;
    background-color: white;
    padding: 6px 10px;
    border: 4px solid #b7bfcf;
    background: url(/img/select-box-bg.gif) right center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
/* line 133, ../sass/style.scss */
.customSelect.customSelectHover {
  border-color: #aeb7c9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
}
/* line 138, ../sass/style.scss */
.customSelect.customSelectFocus {
  /* border-color: #996633; */
}
/* line 141, ../sass/style.scss */
.customSelect.customSelectOpen {
  border-color: #5d5074;
  background: url(/img/select-box-bg-on.gif) right center;
}

span.customSelect {
	font-weight: bold;
        background-color: #f5f0de;
        color:#7c7c7c;
        padding:5px 7px;
        border:1px solid #e7dab0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px 5px;
}
span.customSelect.changed {
        background-color: #f0dea4;
}
